
<form method= "post" action= "/checkout">

  <p>Input the item here:</p>
  <input type="text" name="firstname">
  <textarea name="user_text"></textarea>
  <br>
  <% binding.pry %>

  <button type="submit" value="submit">Submit</button>

</form>
